# itch_trade_sign_classification_statistics

#### Juan Camilo Henao Londono - 08.03.2019
#### AG Guhr - Universitaet Duisburg-Essen

Statistics from the trade sign classification using the ITCH data from 2008. The statistics were made using the days S. Wang used in [this](https://arxiv.org/pdf/1603.01580.pdf) paper (page 3) to test the classification models in equation (1), (2) and (3).

The file with the respective values is obtained using the [itch_taq_trade_sign_classification_test.py](https://github.com/juanhenao21/econophysics/blob/TAQ/Cross_response_individual_stock/itch_algorithms/itch_taq_trade_sign_classification_test.py)

In [1]:
import pandas as pd
import numpy as np

In [6]:
data = pd.read_csv(open('stats.csv'))
pd.options.display.float_format = '{:.4f}'.format

In [7]:
data

,Date,No_Id_Trades,No_Matches,Accuracy,No_Id_Trades.1,Matches_eq_2,Acc_eq_2,Matches_eq_3,Acc_eq_3
AAPL,20080107,120287,103634,0.8616,16200,13533,0.8354,13331,0.8229
AAPL,20080602,52691,47747,0.9062,11685,10390,0.8892,10299,0.8814
GS,20081007,19942,16669,0.8359,7982,6707,0.8403,6718,0.8416
GS,20081210,17902,15454,0.8633,6688,5712,0.8541,5698,0.8520
XOM,20080211,38455,30478,0.7926,8481,6455,0.7611,6385,0.7529
XOM,20080804,59580,49921,0.8379,9334,7680,0.8228,7582,0.8123

In [9]:
print('Results')
print()
print('Average accuracy of the classification:                  {:.2f}%'.format(round(data['Accuracy'].mean(), 4) * 100))
print('Average accuracy of the classification for equation (2): {:.2f}%'.format(round(data['Acc_eq_2'].mean(), 4) * 100))
print('Average accuracy of the classification for equation (3): {:.2f}%'.format(round(data['Acc_eq_3'].mean(), 4) * 100))

Results

Average accuracy of the classification:                  84.96%
Average accuracy of the classification for equation (2): 83.38%
Average accuracy of the classification for equation (3): 82.72%