# taq_data_extract

#### Juan Camilo Henao Londono - 26.03.2019
#### AG Guhr - Universitaet Duisburg-Essen

In [1]:
# Modules

import numpy as np
import os

import pickle
import dask.dataframe as dd

import taq_data_tools

__tau__ = 1000

In [2]:
def taq_data_extract(ticker, year, month):
    """
    Extract the trades and quotes (TAQ) data for a month from a CSV file with
    the full information of a year.
        :param ticker: string of the abbreviation of the stock to be analized
                       (i.e. 'AAPL')
        :param year: string of the year to be analized (i.e '2008')
        :param month: string of the month to be analized (i.e '07')
    """
    function_name = taq_data_extract.__name__
    taq_data_tools.taq_function_header_print_data(function_name, ticker,
                                                  ticker, year, month, '-')

    # Load data
    data_quotes = dd.read_csv('../../TAQ_{1}/Data/{0}_{1}_NASDAQ_quotes.csv'
                              .format(ticker, year),
                              usecols=range(4),
                              sep=' ',
                              names=['Date', 'Time', 'Bid', 'Ask'],
                              parse_dates=['Date']).set_index('Date')
    data_quotes = data_quotes['{}-{}'.format(year, month)]
    data_quotes = data_quotes.compute()

    data_trades = dd.read_csv('../../TAQ_{1}/Data/{0}_{1}_NASDAQ_trades.csv'
                              .format(ticker, year),
                              usecols=range(3),
                              sep=' ',
                              names=['Date', 'Time', 'Ask'],
                              parse_dates=['Date']).set_index('Date')
    data_trades = data_trades['{}-{}'.format(year, month)]
    data_trades = data_trades.compute()

    return (data_quotes, data_trades)

In [3]:
ticker = 'AAPL'
year = '2008'
month = '01'
taq_data_extract(ticker, year, month)

TAQ data
taq_data_extract
Processing data for the stock AAPL the 2008.01.-

(                Time     Bid      Ask
 Date
 2008-01-02  07:00:07    0.01     0.00
 2008-01-02  07:00:07    0.01  2000.00
 2008-01-02  07:01:38  199.09  2000.00
 2008-01-02  07:02:00  199.09   471.00
 2008-01-02  07:02:09  199.70   471.00
 2008-01-02  07:02:09  199.70   199.96
 2008-01-02  07:03:03  199.70   199.96
 2008-01-02  07:03:40  199.70   199.96
 2008-01-02  07:03:40  199.70   199.96
 2008-01-02  07:04:02  199.09   199.96
 2008-01-02  07:04:22  199.09   199.96
 2008-01-02  07:04:22  199.09   199.96
 2008-01-02  07:04:23  199.09   199.96
 2008-01-02  07:04:23  199.09   199.91
 2008-01-02  07:04:30  199.09   199.90
 2008-01-02  07:04:37  199.10   199.90
 2008-01-02  07:05:28  199.10   199.91
 2008-01-02  07:05:28  199.10   199.91
 2008-01-02  07:06:01  199.67   199.91
 2008-01-02  07:06:14  199.67   199.91
 2008-01-02  07:08:22  199.10   199.91
 2008-01-02  07:08:22  199.50   199.91
 2008-01-02  07:10:08  199.61   199.91
 2008-01-02  07:10:16  199.61   199.72
 2008-01-02  07:10:34  199.50   199.72
 2008-01-02  07:10:55  199.50   199.91
 2008-01-02  07:10:55  199.10   199.91
 2008-01-02  07:13:12  199.10   471.00
 2008-01-02  07:13:12  199.10   199.71
 2008-01-02  07:13:12  199.09   199.71
 ...              ...     ...      ...
 2008-01-31  14:22:27  135.21   135.26
 2008-01-31  14:22:28  135.21   135.26
 2008-01-31  14:22:28  135.22   135.26
 2008-01-31  14:22:28  135.22   135.26
 2008-01-31  14:22:28  135.22   135.27
 2008-01-31  14:22:28  135.22   135.27
 2008-01-31  14:22:28  135.22   135.27
 2008-01-31  14:22:28  135.22   135.26
 2008-01-31  14:22:27  135.22   135.27
 2008-01-31  14:22:27  135.22   135.27
 2008-01-31  14:22:27  135.22   135.27
 2008-01-31  14:22:25  135.26   135.30
 2008-01-31  14:22:25  135.26   135.29
 2008-01-31  14:22:25  135.26   135.29
 2008-01-31  14:22:25  135.26   135.30
 2008-01-31  14:22:25  135.26   135.30
 2008-01-31  14:22:25  135.26   135.30
 2008-01-31  14:22:27  135.25   135.27
 2008-01-31  14:22:26  135.27   135.30
 2008-01-31  14:22:26  135.26   135.30
 2008-01-31  14:22:26  135.26   135.29
 2008-01-31  14:22:25  135.23   135.29
 2008-01-31  14:22:26  135.24   135.29
 2008-01-31  14:22:26  135.24   135.29
 2008-01-31  14:22:26  135.24   135.28
 2008-01-31  14:22:27  135.25   135.28
 2008-01-31  14:22:27  135.25   135.28
 2008-01-31  14:22:27  135.25   135.28
 2008-01-31  14:22:26  135.26   135.29
 2008-01-31  14:22:28  135.22   135.27

 [11683838 rows x 3 columns],                 Time     Ask
 Date
 2008-01-02  07:04:02  199.70
 2008-01-02  07:08:22  199.67
 2008-01-02  07:10:34  199.61
 2008-01-02  07:10:55  199.50
 2008-01-02  07:28:08  199.64
 2008-01-02  07:32:17  199.92
 2008-01-02  07:32:17  199.92
 2008-01-02  07:34:16  199.80
 2008-01-02  07:37:30  199.80
 2008-01-02  07:37:33  199.86
 2008-01-02  07:49:39  199.89
 2008-01-02  07:50:03  199.80
 2008-01-02  07:50:05  199.71
 2008-01-02  07:51:11  199.71
 2008-01-02  07:55:51  199.62
 2008-01-02  07:56:33  199.60
 2008-01-02  07:56:41  199.65
 2008-01-02  08:00:00  199.69
 2008-01-02  08:00:00  199.50
 2008-01-02  08:00:00  199.69
 2008-01-02  08:00:00  199.75
 2008-01-02  08:00:00  199.70
 2008-01-02  08:00:00  199.79
 2008-01-02  08:00:00  199.79
 2008-01-02  08:00:03  199.77
 2008-01-02  08:00:03  199.79
 2008-01-02  08:00:03  199.79
 2008-01-02  08:00:15  199.75
 2008-01-02  08:00:39  199.74
 2008-01-02  08:00:39  199.74
 ...              ...     ...
 2008-01-31  19:31:31  134.48
 2008-01-31  19:33:11  134.48
 2008-01-31  19:33:38  134.48
 2008-01-31  19:33:38  134.45
 2008-01-31  19:36:10  134.40
 2008-01-31  19:37:08  134.40
 2008-01-31  19:37:40  134.44
 2008-01-31  19:37:40  134.45
 2008-01-31  19:38:42  134.45
 2008-01-31  19:38:42  134.40
 2008-01-31  19:38:42  134.31
 2008-01-31  19:43:14  134.32
 2008-01-31  19:43:14  134.30
 2008-01-31  19:45:22  134.40
 2008-01-31  19:45:22  134.48
 2008-01-31  19:45:22  134.49
 2008-01-31  19:45:22  134.49
 2008-01-31  19:45:22  134.49
 2008-01-31  19:49:39  134.40
 2008-01-31  19:50:28  134.41
 2008-01-31  19:51:28  134.48
 2008-01-31  19:52:09  134.48
 2008-01-31  19:54:06  134.48
 2008-01-31  19:55:23  134.48
 2008-01-31  19:56:09  134.48
 2008-01-31  19:57:00  134.41
 2008-01-31  19:57:00  134.40
 2008-01-31  19:57:47  134.40
 2008-01-31  19:59:28  134.49
 2008-01-31  19:59:50  134.40

 [2984331 rows x 2 columns])