# itch_trade_sign_classification_statistics

#### Juan Camilo Henao Londono - 08.03.2019
#### AG Guhr - Universitaet Duisburg-Essen

Statistics from the trade sign classification using the ITCH data from 2008. The statistics were made using the days S. Wang used in [this](https://arxiv.org/pdf/1603.01580.pdf) paper (page 3) to test the classification models in equation (1), (2) and (3).

The file with the respective values is obtained using the [itch_taq_trade_sign_classification_test.py](https://github.com/juanhenao21/econophysics/blob/TAQ/Cross_response_individual_stock/itch_algorithms/itch_taq_trade_sign_classification_test.py)

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv(open('stats.csv'))
pd.options.display.float_format = '{:.4f}'.format

In [10]:
data.T

,AAPL,AAPL,GS,GS,XOM,XOM
Date,20080107.0000,20080602.0000,20081007.0000,20081210.0000,20080211.0000,20080804.0000
No_Id_Trades,120287.0000,52691.0000,19942.0000,17902.0000,38455.0000,59580.0000
No_Matches,103634.0000,47747.0000,16669.0000,15454.0000,30478.0000,49921.0000
Accuracy,0.8616,0.9062,0.8359,0.8633,0.7926,0.8379
No_Id_Trades.1,16200.0000,11685.0000,7982.0000,6688.0000,8481.0000,9334.0000
Matches_eq_2,13533.0000,10390.0000,6707.0000,5712.0000,6455.0000,7680.0000
Acc_eq_2,0.8354,0.8892,0.8403,0.8541,0.7611,0.8228
Matches_eq_3,13331.0000,10299.0000,6718.0000,5698.0000,6385.0000,7582.0000
Acc_eq_3,0.8229,0.8814,0.8416,0.8520,0.7529,0.8123

In [13]:
print('Results')
print()
print('Average accuracy of the classification:                  {:.2f}%'.format(round(data['Accuracy'].mean(), 4) * 100))
print('Average accuracy of the classification for equation (2): {:.2f}%'.format(round(data['Acc_eq_2'].mean(), 4) * 100))
print('Average accuracy of the classification for equation (3): {:.2f}%'.format(round(data['Acc_eq_3'].mean(), 4) * 100))

Results

Average accuracy of the classification:                  84.96%
Average accuracy of the classification for equation (2): 83.38%
Average accuracy of the classification for equation (3): 82.72%