# itch_trade_sign_classification_statistics

#### Juan Camilo Henao Londono - 08.03.2019
#### AG Guhr - Universitaet Duisburg-Essen

Statistics from the trade sign classification using the ITCH data from 2008. The statistics were made using the days S. Wang used in [this](https://arxiv.org/pdf/1603.01580.pdf) paper (page 3) to test the classification models in equation (1), (2) and (3).

The file with the respective values is obtained using the [itch_taq_trade_sign_classification_test.py](https://github.com/juanhenao21/econophysics/blob/TAQ/Cross_response_individual_stock/itch_algorithms/itch_taq_trade_sign_classification_test.py)

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv(open('stats.csv'))
pd.options.display.float_format = '{:.4f}'.format

In [3]:
data

,Date,No_Id_Trades,No_Matches,Accuracy,No_Id_Trades.1,Matches_eq_2,Acc_eq_2,Matches_eq_3,Acc_eq_3
AAPL,20080107,120287,99871,0.8303,15591,12169,0.7805,12179,0.7812
AAPL,20080602,52691,46919,0.8905,11269,9630,0.8546,9633,0.8548
GS,20081007,19942,16148,0.8097,7912,6379,0.8062,6378,0.8061
GS,20081210,17902,15104,0.8437,6590,5428,0.8237,5434,0.8246
XOM,20080211,38455,30256,0.7868,8064,6071,0.7529,6070,0.7527
XOM,20080804,59580,49655,0.8334,8776,7111,0.8103,7109,0.8101

In [11]:
print('Results')
print()
print('Average accuracy of the classification:                 ', round(data['Accuracy'].mean(), 3) * 100, '%')
print('Average accuracy of the classification for equation (2):', round(data['Acc_eq_2'].mean(), 3) * 100, '%')
print('Average accuracy of the classification for equation (3):', round(data['Acc_eq_3'].mean(), 3) * 100, '%')

Results

Average accuracy of the classification:                  83.2 %
Average accuracy of the classification for equation (2): 80.5 %
Average accuracy of the classification for equation (3): 80.5 %