# TAQ data load

In [2]:
import pandas as pd
from matplotlib import pyplot as plt

In [28]:
data = pd.read_csv('../TAQ_2008/Data_csv/AAPL_2008_Phil_quotes.csv', sep=' ')
data.columns = ["Date", "Time", "Price", "Size", "G127", "CORR", "CORR", "x", "x", "x", "x", "x"]
data.head(10)

         Date      Time  Price   Size  G127  CORR  CORR   x   x   x   x   x
0  2008-01-02  09:22:27    1.0  300.0     1     1    12 NaN NaN NaN NaN NaN
1  2008-01-02  16:00:00    0.0    0.0     0     0    12 NaN NaN NaN NaN NaN
2  2008-01-03  09:12:00    1.0    0.0     0     1    10 NaN NaN NaN NaN NaN
3  2008-01-03  09:14:27    1.0  300.0     1     1    12 NaN NaN NaN NaN NaN
4  2008-01-03  16:00:00    0.0    0.0     0     0    12 NaN NaN NaN NaN NaN
5  2008-01-04  09:07:06    1.0    0.0     0     1    10 NaN NaN NaN NaN NaN
6  2008-01-04  09:08:17    1.0  300.0     1     1    12 NaN NaN NaN NaN NaN
7  2008-01-04  16:00:00    0.0    0.0     0     0    12 NaN NaN NaN NaN NaN
8  2008-01-07  09:04:03    1.0    0.0     0     1    10 NaN NaN NaN NaN NaN
9  2008-01-07  09:06:13    1.0  300.0     1     1    12 NaN NaN NaN NaN NaN

In [27]:
data['Date']

0      2008-01-02
1      2008-01-02
2      2008-01-03
3      2008-01-03
4      2008-01-03
5      2008-01-04
6      2008-01-04
7      2008-01-04
8      2008-01-07
9      2008-01-07
10     2008-01-07
11     2008-01-08
12     2008-01-08
13     2008-01-08
14     2008-01-09
15     2008-01-09
16     2008-01-09
17     2008-01-10
18     2008-01-10
19     2008-01-10
20     2008-01-10
21     2008-01-10
22     2008-01-10
23     2008-01-10
24     2008-01-11
25     2008-01-11
26     2008-01-11
27     2008-01-14
28     2008-01-14
29     2008-01-14
          ...
235    2008-05-19
236    2008-05-19
237    2008-05-19
238    2008-05-19
239    2008-05-19
240    2008-05-19
241    2008-05-20
242    2008-05-20
243    2008-05-20
244    2008-05-20
245    2008-05-20
246    2008-05-20
247    2008-05-20
248    2008-05-22
249    2008-05-22
250    2008-05-22
251    2008-05-22
252    2008-05-22
253    2008-05-22
254    2008-05-22
255    2008-05-22
256    2008-05-22
257    2008-05-22
258    2008-05-22
259    2008-05-22
260    2008-05-22
261    2008-05-22
262    2008-05-22
263    2008-10-08
264    2008-10-08
Name: Date, Length: 265, dtype: object