In [1]:
import pandas as pd

In [5]:
data = pd.read_csv(open('stats.csv'))

In [6]:
data

,No. Id. Trades,No. Matches,Accuracy,No. Id. Trades,Matches eq. (2),Acc. eq. (2),Matches eq. (3),Acc. eq. (3)
0,120287,99871,0.830,15591,12169,0.781,12183,0.781
1,52691,46919,0.890,11269,9630,0.855,9639,0.855
2,19942,16148,0.810,7912,6379,0.806,6378,0.806
3,17902,15104,0.844,6590,5428,0.824,5435,0.825
4,38455,30256,0.787,8064,6071,0.753,6071,0.753
5,59580,49655,0.833,8776,7111,0.810,7111,0.810